<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" align="center">
    <div class="jumbotron">
        <h1>All existing users</h1>
    </div>

    <!--<ul class="list-group" th:each="user: ${__${T(com.yfy.beem.server.util.ModelAttributes).USERS}__}" style="list-style-type:circle">-->
        <!--<li th:text="${user}">Placeholder</li>-->
    <!--</ul>-->

    <table class="table col-lg-6">
        <thead class="thead-dark">
        <tr>
            <th scope="col">UID</th>
            <th scope="col">Name</th>
            <th scope="col">IP address</th>
            <th scope="col">Key</th>
            <th scope="col">Selected</th>
        </tr>
        <tr th:each="user: ${__${T(com.yfy.beem.server.util.ModelAttributes).USERS}__}">
            <td><span th:text="${user.id}"></span></td>
            <td><span th:text="${user.name}"></span></td>
            <td><span th:text="${user.ipAddress}"></span></td>
            <td><span th:text="${user.publicKey}"></span></td>
            <td><span>test</span></td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>